p There are {{movies.length}} movies

ul.list-inline(id='movie-list')
  li(ng-repeat='movie in movies')
    a(ui-sref='movies.detail')
      h3 {{movie.name}}
      div {{movie.dateAdded}}
      img(src='{{movie.img}}', alt='{{movie.name}}')

div(ui-view)