html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #333;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	color: #fff;
}

header {
		background-color:#333;
		width: 100%;
		height: 80px;
		position: fixed;
}

.header-container {
	height:100%;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

header div h3 {
  float: left;
}

header div nav {
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
  float: right;
  display:table;
  height: 100%;
}

header div nav .nav-inner {
	display: table-cell;
	vertical-align: middle;
}

nav ul {
}

nav ul > li {
  display: inline-block;
}
nav ul > li + li {
  margin-left: 20px;
}
nav ul > li > a {
  text-decoration: none;
  padding-bottom: 12px;
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
nav ul > li > a:hover,
nav ul > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
nav ul > .active > a,
nav ul > .active > a:hover,
nav ul > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}



.section-container {
	padding-top: 90px;
	height: 100%;
	width: 100%;
}

.section-inner {
	height: 100%;
	width: 100%;
}

section ul > li > a,
section ul > li > a:focus,
section ul > li > a:hover {
  color: #fff;
}

section {
	width:45%;
}

.list-center {
	margin:auto;
}

.list-aside {
	float: left;
}

.aside-container {
	float:left;
	height: 75%;
	width: 45%;
	margin-top: 20px;
	margin-left: 5%;
	padding-left:7%;
	border-left: 1px solid;
	border-color: #fff;
	text-align:left;
	
	position: fixed;
	left: 45%;
}

a,
a:focus,
a:hover {
  color: lightgray;
}

footer {
	z-index:100;
	color: lightgray;
	font-size: smaller;
	font-style: italic;
	
	background-color:#333;
	width: 100%;
	height: 6%;
	position: fixed;
	bottom:0px;
	display:table;
}

.footer-container {
	height:100%;
	width: 50%;
	margin:auto;
	vertical-align: middle;
	display:table-cell;
}

/*
 *  Media list
 */

ul.list-inline li h3{
	max-width: 200px;
}

ul.list-inline li img {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
}

.detail-aside {
	display : none;
}

.detail-header {
	
}

.detail-img {
	float:left;
}

.detail-title {
	padding-top: 9%;
	height: 50%;
	text-align:center;
}

.detail-overview {
	padding-top: 20px;
}

.detail-url {

}