

<!--<p class="">There are {{tvshows.length}} tvshows</p>-->

<div class="section-inner">
<section ng-class="{'list-aside': $state.includes('tvshows.detail')}" class="list-center">
		
		<ul id="movie-list"class="list-inline">
		  <li ng-repeat='show in tvshows'>
		    <a ui-sref='tvshows.detail({tvshowId: show.name})'>
		      	<img src='{{show.img}}' alt='{{show.name}}'/>
		      	<h4>{{show.name}}</h4>
			</a>
		  </li>
		</ul>
</section>


<aside ui-view class="aside-container" ng-class="{'detail-aside': !$state.includes('tvshows.detail')}"></aside>

</div>
